         body{
             margin: 0;
             background: rgb(40, 0, 0);
         }



         .box-element{
           display: grid;
           margin-left: 79px;
           margin-top: 120px;
           position: absolute;                      
           color: white;
           border-radius: 16px;          
           width: 400px;
           background: rgb(40, 0, 0);
           height: 390px;           
           box-shadow: 10px 10px 10px rgb(10, 0, 0);
           
         }
        
         .card{
           position: absolute;   
           border-radius: 16px;
           padding: 10px;
           width: 200px;
           height: 200px;
           background: brown;
           box-shadow: 10px 10px 10px rgb(10, 0, 0);
         }
         .card:hover{
           
           transform: scale(1.1);
         }
         h4{
           text-align: center;
           color: gold;
           cursor: pointer;
            
         }                           
         .box{          
           margin-top:110px;                     
           margin-left: 530px;           
         }  
         .box1{         
           margin-top: 110px;                                           
           margin-left: 740px;           
         }      
         .boxx{          
           margin-top: 320px;                     
           margin-left: 530px;         
         }  
         .box11{         
           margin-top: 320px; 
           margin-left: 740px;
         }
         .cardd{  
           width: 195px; 
           height: 50px;
           background: rgb(40, 0, 0);      
           margin-top: -40px; 
           margin-left: 530px;
           box-shadow: none;
         }
         .carddd{  
           width: 195px; 
           height: 50px;
           background: rgb(40, 0, 0);      
           margin-top: -40px; 
           margin-left: 322px;
           box-shadow: none;
         }
         .box-element .button{         
            padding: 5px 5px;
            position: absolute;
            bottom: 15px;
            right: 30px;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all .4s ease-in-out;
            font-weight: bold;
            border-radius: 20px;
            box-shadow: 10px 10px 10px rgb(40,0,0);
            color: gold;
            background: brown;
         }
         .cardd h4{
            font-size: 1em;
         } 
         .carddd h4{
            font-size: 1em;
         } 
         a{
            cursor: pointer;
            decoration: none;
         }
    header{
      z-index: 999;
      top: 0;
      left: 0;
      width: 80%;
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 200px;
      transition: 0.5s ease;
    }
    header .brand{
      color: #fff;
      font-size: 1.5em;
      text-transform: uppercase;
      text-decoration: none;
    }
    header .navigation{
      position: absolute;
      margin-top: 0;

    }
    
    header .navigation .navigation-items a{
      position: relative;
      color: #fff;
      font-size: 1em;
      font-weight: 500; 
      text-decoration: none;
      margin-left: 100px;
      transition: 0.3s ease;
    }

    article{
        width: 400px;
        height: 260px;
        position: relative;
        bottom: 5px;
        right: 0;
        text-align: left;
        overflow: hidden;
    }
   
    
    header .navigation .navigation-items .container {
       width: 10px;
       background: gray;
       border-radius: 5px;
       position: relative;
       
       
    }
    .forest {
            opacity: 0.1;
        }
    .forest {
            width: 100%;
            height: 100%;
            position: absolute;
            margin: 0;
            border-radius: 16px;
            
            
        }
    
    .bori {
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 0.3;
            
        }
        @media(max-width: 900px){
             body{
               margin: 0;
               overflow: scroll;
             }
             .container{
                max-width: 500px;
                margin: 0 auto;
             }
             
             .box-element{
                 position: absolute;
                 flex-direction: column;
                 margin-top: 60px;
                 margin-left: 5%;
                 width: 325px;
                 height: 350px;
              } 
               .card{
                   position: absolute;
                   width: 100px;
                   height: 100px;                  
                    
              } 
            article{
             width: 100%;
             height: 100%;
             margin: 0 auto;
             position: relative; 
             overflow: hidden;
             }
             .ori {
            width: 100px;
            height: 600px;
            position: absolute;
            margin-left: 80%;
            margin-top: 20px;
            opacity: 0.1;
            
            }
            
           .card img{
            width: 100px;
            height: 100px;
            position: relative;
            opacity: 0.3;
            
           }
              .boxa{          
                width: 100%;     
             }  
             .box{          
                margin-top: 440px;                     
                margin-left: 50%;       
             }  
             .box1{         
               margin-top: 440px;                                           
               margin-left: 11%;           
             }      
             .boxx{          
               margin-top: 550px;                     
               margin-left: 50%;        
             }  
            .box11{         
               margin-top: 550px; 
               margin-left: 11%; 
            }
            header .navigation{
                position: absolute;
                margin-top: 0px; 
                margin-left: 35%;
            }
            .cardd{
               margin-top: -25px; 
               margin-left: 138%;
               position: absolute;
               width: 100px;
               height: 30px; 
               
            }
            .carddd{
               margin-top: -25px; 
               margin-left: 50%;
               position: relative;
               width: 100px;
               height: 30px; 
               
            }
            
            h4{
                font-size: 12px;
            }
            .btn{
                padding: 10px 15px;
                float: right;
                font-size: 14px;
             }
            header{
                padding: 12px 20px;
        }
    