{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
  .section{
    position: absolute;
    top: 150px;
    width: 100%;
    margin: 0;
  }
  .container{
    display: block;
    width: 100%;
    margin: 0 auto;
  }

    
</style>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <video src="" controls style="width: 300px;">
                    
                </video>   
            </div>
        </div>        
    </div>
</div>

<i class="fa fa-bars"></i>

{% endblock content %}