{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  .section{
    position: absolute;
    top: 150px;
    width: 100%;
    margin: 0;
  }
  .container{
    display: block;
    width: 100%;
    margin: 0 auto;
  }

    
</style>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8">
                <video src="" controls style="width: 300px;">
                    
                </video>   
            </div>
        </div>        
    </div>
</div>

{% endblock content %}